<%= render 'shared/form/error_messages', resource: resource %>
<div class="form-inputs">
  <table class="table table-striped">
  	<thead>
      <th>Name</th>
      <th>Text</th>
    </thead>
    <tbody>
      <%= f.simple_fields_for :vacancies do |vacancy_form| %>
        <%= render_product_specific_partial_if_available(
          vacancy_form.object, 'workflow/tasks/vacancy_fields', f: vacancy_form
        ) %>
      <% end %>
    </tbody>
  </table>
</div>
